<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>@if(product){Edit}@else{Add New} Product</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="close()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="productForm" class="ion-padding" (ngSubmit)="onSubmit()">
    <ion-card-content>
      <img
        class="product-image"
        [src]=" productForm.value.photoUrl || 'assets/no_image_available.jpg'"
        alt="Uploaded Image"
        width="200"
      />
    </ion-card-content>
    <ion-item>
      <ion-label position="floating">Product Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price</ion-label>
      <ion-input type="number" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Upload Image</ion-label>
      <input
        type="file"
        formArrayName="photoUrl"
        (change)="onSelectedFile($event)"
        accept=".jpg, .jpeg, .png"
      />
    </ion-item>
    @if(progressBarIndicator === 0){
      <ion-button
      expand="full"
      color="dark"
      type="submit"
      [disabled]="productForm.invalid"
      >
      @if(product){Edit}@else{Add} Product</ion-button>
    }
    @if(progressBarIndicator>0){
      <ion-item>
        <ion-label>uploading...</ion-label>
        <ion-progress-bar [value]="progressBarIndicator / 100"></ion-progress-bar>
      </ion-item>
    }
  </form>
</ion-content>
