<ion-card class="product-card">
  <img [src]="product.photoUrl" alt="Product Image" class="product-image" />

  <ion-card-header>
    <ion-card-title>{{ product.name }}</ion-card-title>
    <ion-card-subtitle>{{ product.price | currency }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="quantity-container">
       <ion-button fill="solid" (click)="incrementQuantity()" color="dark">
        <ion-icon slot="start" ios="add-outline" md="add-outline"></ion-icon>
        add
      </ion-button>

      <div class="quantity">
        {{ quantity }}
      </div>

      <ion-button fill="solid" (click)="decrementQuantity()" [disabled]="quantity<=1" color="dark">
        <ion-icon slot="start" ios="remove-outline" md="remove-outline"></ion-icon>
        remove
      </ion-button>
    </div>
    <ion-button expand="full" (click)="addToCart()" color="success">
      <ion-icon slot="start" ios="cart-outline" md="cart-outline"></ion-icon>
        Add to cart
    </ion-button>
  </ion-card-content>
</ion-card>
