<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Create new account</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="createNewAccount()">
          <ion-item>
            <ion-label position="floating">User name</ion-label>
            <ion-input formControlName="displayName" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input formControlName="confirmPassword" type="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          @if (passwordMismatch) {
            <div style="color: red">Las contraseñas no coinciden.</div>
          }
          <ion-button
            expand="full"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Create new account
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
