
<ion-list class="ion-list">
    @for ( item of cartItems; track $index) {
      @let product = item.product;
      <ion-item >
        <ion-thumbnail slot="start">
          <img [src]="item.product.photoUrl" alt="Product Image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Price: {{ product.price| currency }}</p>
          <p>Quantity: {{ item.quantity }}</p>
          <p>Total: {{ (product.price * item.quantity) | currency }}</p>
        </ion-label>
        <ion-button class="remove-button"  fill="clear"  slot="end" (click)="removeItemFromCart(product)">
           <ion-icon name="remove-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-item>
    }@empty {
      <div>
        <h2>
          <ion-icon name="cart-outline" size=""></ion-icon>
          <ion-label> cart list empty</ion-label>
        </h2>
      </div>
    }
  </ion-list>



