

<div>
  <ion-list class="ion-list">
    @for ( item of cartItems; track $index) {
      @let product = item.product;
      <ion-item >
        <ion-thumbnail slot="start">
          <img [src]="item.product.photoUrl" alt="Product Image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>Precio: {{ product.price| currency }}</p>
          <p>Cantidad: {{ item.quantity }}</p>
          <p>Total: {{ (product.price * item.quantity) | currency }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-footer class="ion-footer">
    <ion-item>
      <ion-label>Subtotal</ion-label>
      <ion-label slot="end">{{ subtotal | currency }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Impuesto (13%)</ion-label>
      <ion-label slot="end">{{ tax | currency }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total</ion-label>
      <ion-label slot="end">{{ total | currency }}</ion-label>
    </ion-item>
  </ion-footer>
</div>

